.title_box{
  display: flex;
  margin: 5px 0;
  width: 100%;
} 
.title_box .title{
  font-size: 21px;
  font-weight: 600;
}
.title_box .red_text{
  background-color: red;
  color: #fff;
  font-weight: 600;
  padding: 2px;
  margin-left: 10px;
}
.title_box .text{
  font-size: 16px;
}
.form_box .form-group{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}
  .form_box form{
    background-color: #e9e9e9;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .form-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px dashed lightgray;
    position: relative;
  }
  .form-card:first-child{
    padding-bottom: 30px;
  }
  .form-card:last-child{
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .form-card label {
    width: 200px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form-card input{
    width: 500px;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
  }
  .form-card select{
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .form-card input[type="submit"] {
    width: auto;
  }

  .user_box{
    width: 100%;
  }

  .user_box .form-group {
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .user_box .form-group .sei,
  .user_box .form-group .mei {
    text-align: left;
    width: 100%;
    margin: 0 40px 0 0;
  }
  
  .user_box .form-group .sei label,
  .user_box .form-group .mei label {
    display: block;
    font-weight: 600;
  }
  
  .user_box .form-group .sei input,
  .user_box .form-group .mei input{
    width: 50%;
    margin: 0 10px;
    padding: 8px;
  }

  .form-email{
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: #e9e9e9;
    margin-bottom: 50px;
    padding: 20px;
  }
  .form-email label{
    font-weight: 600;
  }
  .form-email input{
    width: 60%;
    margin: 0 10px;
    padding: 8px;
  }
  .emaillabel{
    margin: 20px 0 5px 0;
  }
.haihun{
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 10px;
  }
