/* 全体の設定 */
html {
    font-family: "Yu Gothic";
    background-color: lightgray;
}
body{
    margin: 0;
    width: 60%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}


/* 共通のheaderの設定 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid#bdbdbd;
}
header img{
    margin: 30px;
}

.stepbar {
    display: flex;
    position: relative;
    padding: 0 30px 0 0;
    text-align: center;
}
.stepbar li {
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    padding-left: 50px;
    position: relative;
    max-width: 100px;
}
.stepbar li:after {
    background-color: #BDBDBD;
    content: "";
    height: 3px;
    position: absolute;
    top: 7px;
    right: 28px;
    width: 90px;
}
.stepbar li:first-child:after {
    display: none;
}
.stepbar li span {
    background-color: #BDBDBD;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-bottom: 4px;
    line-height: 32px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 5;
    position: relative;
}
.stepbar .done:after {
    background-color: #E65100;
}
.stepbar .done span {
    background-color: #E65100;
}


/* main内の共通の設定 */
main{
    width: 90%;
    margin: 0 auto;
}
h2 {
    font-size: 24px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.main_view p{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 次へのボタン設定 */
.next input{
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    padding: 20px 150px;
    margin: 50px 0 70px 0;
    border: none;
    border-radius: 10px;
    background-color: #019fe8;
    box-shadow: 0 5px 0#0084b2;
}
.next input:hover{
    background-color: #0084b2;
}


/* 戻るボタン */
.moda {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #000000;
    text-decoration: none;
    margin: 0 auto 10px auto;
    
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 1px 0 #000;
    width: 100px;
}
.moda:hover{
    background-color: #eee;
}

/* フッターの設定 */
footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
}
.container ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.container ul li {
    display: inline-block;
    margin-right: 10px;
}
.container ul li:last-child {
    margin-right: 0;
}
.container ul li a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 1rem;
}
.container ul li a:hover{
    opacity: 0.5;
}
.container p{
    font-size: 12px;
}