.seat-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 10px auto;
    padding: 15px 0;
    background-color: #eee;
    border-radius: 5px;
    user-select: none;
}
.seat-column p{
    font-size: 16px;
    width: 16px;
}
.screen{
    width: 100%;
}
.screen p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;    
    width: 60%;
    height: 30px;
    margin: 20px auto 40px auto;
    padding: 5px 0;
    border: 3px solid#000;
}
.tateretu {
    display: inline-block;
    font-size: 15px;
}
.pathway{
    height: 60px;
}
.custom-button {
    font-size: 14px;
    font-weight: 400;
    min-width: 30px;
    min-height: 40px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    flex: 1;
}
.selected {
    background-color: #003d80;
    color: #fff;
}
/* ボタンがdisabledされているとき */
.disabled {
    background-color: #f00;
    color: #fff;
}


/* 席の状況の説明 */
.view_box{
    width: 90%;
}
.sekiyoyaku {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 5px 0;
    margin: 20px auto;
}

.sekiyoyaku .box {
    min-width: 30px;
    min-height: 40px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 20px 20px 0 0;
    border: 1px solid black;
    text-align: center;
    margin: 0 20px;
}

.sekiyoyaku .text {
    white-space: nowrap;
    position: relative;
    top: 10px;
    right: 15px;
}
.sekiyoyaku .selected {
    background-color: #003d80;
}

.sekiyoyaku .reserved {
    background-color: red;
}


/* 選んだ映画、時間などの表示欄 */
.select_box{
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 5px 0;
}
.select_box .box-item{
    margin: 0 0 0 10px;
    padding: 10px 0;
    border-bottom: 3px dashed #fff;
}
.select_box .box-item:last-child{
    border-bottom: none;
}
.select_box .title{
    color: #ffd7a2;
}


/* 利用規約 */
.riyoukiyaku {
    font-size: 18px;
    display: flex;
    text-align: left;
}
.scrollbar{
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #eee;
}
.scrollbar p{
    margin: 0 15px;
    white-space: pre-wrap;
    font-size: 12px;
    text-align: left;
}


/* 規約に同意 */
.doui{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doui label{
    font-size: 18px;
    margin: 20px 0 0 0;
}
input[type="checkbox"] {
    width: 20px;/* 幅を変更 */
    height: 20px;/* 高さを変更 */
    margin: 20px 5px 0 0;
}


