/* 装飾 */
ul{
  margin: 40px 0 !important;
}



.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 15%;
}

.links{
    text-decoration: none;
    color: black;
    position: relative;
    margin: 0 10px;
}

.links a::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.links::before {
    content: "";
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -5px;
    left: 10%;
    right: 10%;
}

.links .completed-link::after {
    background: red;
}

.links .done-text {
    color: red;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.main .m1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.main .m2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}


.data-display {
    display: inline-block;
    align-items: center;
    background: white;
    border: 1px solid black;
    width: 400px;
    height: 40px;
    margin: 10px 30px 0 -90px;
}



.box {
    height: 400px;
    background: #D9D9D9;
    border: 1px solid #000;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box p {
    font-size: 1.3rem;
    margin: 20px 100px 0 0;
    min-width: 200px;
    max-width: 650px;
}

.box-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.buy-info{
    padding-top: 20px;
}

.sec03 {
  padding-bottom: 60px;
  padding-top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  background-color: red;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  min-width: 300px;
  height: 70px;
  font-size: large;
}

.custom-button:hover {
  opacity: 0.8;
}




.footer{
margin: 0 0 0 100px;
}
