@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.Sidebar {
  position: fixed;
  height: 100%;
  width: 280px;
  /* background-image: url('../../../public/images/hal2.jpg'); */
  background-color: #2b2b2b;
  background-size: cover; /* 画像を要素に合わせて拡大縮小 */
  background-position: center ; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像の繰り返しを禁止 */
  /* filter: grayscale(90%); 後で変える */
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;

}
.SidebarList .row {
  height: 60px;
  display: flex;
  color: #ffffff; /* 白のテキストカラー */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto; /* 要素を中央に配置 */
  border-top: 1px solid gray;
}
.SidebarList .row:last-child {
  border-bottom: 1px solid gray;
}
.SidebarList .row:hover{
  background-color: rgb(99, 99, 99);
}

.row {
  display: flex;
  align-items: center;
}

#icon {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px; /* IconとTextの間隔を調整 */
}

.text {
  flex: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

#title {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 600; /* テキストの太さ */
  font-family: 'Noto Sans JP', sans-serif;
}

#subtitle {
  font-size: 12px;
  font-family: 'Noto Sans JP', sans-serif;

}

.SidebarIcon {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.SidebarIcon img {
  width: 100px;
}
#sidebar_logo{
  text-align: center;
  padding: 20px 0 20px 0;
}