/* App.css */
.App {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  min-height: 100vh;
}

.content_App {
  margin-left: 250px;
  width: calc(100% - 250px);

}

.main_content{
  padding: 10px 50px;
  /* 左右を空けるpx */
}
h1{
  border-left:4px solid #000000; /*線の設定*/
  padding:1px 0 0 20px; /*余白の設定*/
}